.settings {
  font-size: 55px;
  filter: drop-shadow(0px 4px 4px #000);
  position: absolute;
  right: 10px;
  top: 5px;
}
.settings:hover {
  font-size: 60px;
  filter: drop-shadow(0px 4px 4px #000);
  position: absolute;
  right: 7px;
  top: -1px;
  background: rgb(128, 128, 128, 0.2);
  border-radius: 50%;
}
